<p id="notice"><%= notice %></p>

<p>
  <b>Short name:</b>
  <%= @team.short_name %>
</p>

<p>
  <b>Long name:</b>
  <%= @team.long_name %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
